<div class="container">
  <h1>Labs!</h1>
  <h2>{{ welcomeLabs }}</h2>
  <!--Acceso a *ngFor-->
  <ul>
    <li *ngFor="let task of tasks()">
      {{ task }}
    </li>
  </ul>
  <hr />
  <h2>{{ 'Funcion repeat JS en Angular interpoletion '.repeat(4) }}</h2>
  <p>Sumatoria {{ 4 + 4 }}</p>
  <p>Ing. {{ name }} edad {{ person.age }}</p>
  <hr />
  <img [src]="img" alt="">
  <p>person: {{person.job}}</p>
  <hr />
  <input type="text" [value]=id>
  <button (click)="clikHandler()">Click</button>
  <hr />
  <ul>
    <p>Total: {{tasks().length}}</p>
    <li *ngFor="let task of tasks(); index as i">
      {{i}} {{ task }}
    </li>
  </ul>
  <button (dblclick)="clikHandler()">Double Click</button>
  <p>Edad</p>
  <input type="number" [(ngModel)]="person.age" (change)="changeHandler($event)">
  <p>(keydown)</p>
  <input type="text" [value]="person.department" (keydown)="keyDownHandler($event)">
  <p>(keydown)</p>
  <input type="text" [(ngModel)]="person.job">
  <div *ngIf="1 !=1">
    Pedro
  </div>
  <div *ngIf="person.age >= 18 else elseBlock">
    Developer habilitado para trabajar
  </div>
  <ng-template #elseBlock>
    Inabilitado para trabajar
  </ng-template>
  <div *ngIf="person.job === 'Developer'">
    Esto entra solo si el trabajo es Developer
  </div>
  <div [ngSwitch]="person.department">
    <p *ngSwitchCase="'Development'">Developer Disponible</p>
    <p *ngSwitchDefault>Developer No Disponible</p>
  </div>
  <hr />
  <input type="color" [formControl]="colorCtr">
  <p>color: {{colorCtr.value}}</p>
  <svg>
    <g>
      <rect x="0" y="0" height="100" width="100" [attr.fill]="colorCtr.value" />
    </g>
  </svg>
  <hr />
  <input type="number" [formControl]="widthCtr">
  <hr />
  <span class="box" [style.width.px]="widthCtr.value">
  </span>
  <hr />
  <p>
    <input type="text" [formControl]="nameCtr"><br />
    <span class="message-error" [class.show]="nameCtr.invalid && nameCtr.touched">El nombre no cumple con los requisitos</span>
  </p>
  <p>
    <input type="text">
  </p>
</div>
